# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
env/
venv/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints

# GitHub Pages build
_site/

# Temporary files
*.tmp

gh_pages_repo/